@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="ml-auto">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <h4>Create an account as </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.MiddleName"></label>
                <input asp-for="Input.MiddleName" class="form-control" />
                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div id="student" class="form-group" style="display: block;">
                <label asp-for="Input.StudentNumber"></label>
                <input asp-for="Input.StudentNumber" id="studentinput" class="form-control" />
                <span asp-validation-for="Input.StudentNumber" class="text-danger"></span>
            </div>
            <div id="teacher" class="form-group" style="display: none;">
                <label asp-for="Input.TeacherNumber"></label>
                <input asp-for="Input.TeacherNumber" class="form-control" />
                <span asp-validation-for="Input.TeacherNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" id="teacherinput" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6">
        @*<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create an account as teacher.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.MiddleName"></label>
                    <input asp-for="Input.MiddleName" class="form-control" />
                    <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.MiddleName"></label>
                    <input asp-for="Input.MiddleName" class="form-control" />
                    <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.TeacherNumber"></label>
                    <input asp-for="Input.TeacherNumber" class="form-control" />
                    <span asp-validation-for="Input.TeacherNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>*@
        <section>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label onclick="some()" class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            @*<hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }*@
        </section>
    </div>
</div>
<script>
    function some() {
        console.log("Hello");
        console.log(document.getElementById("myonoffswitch").checked)
        var student = document.getElementById("student");
        var studentinput = document.getElementById("studentinput");
        var teacher = document.getElementById("teacher");
        var teacherinput = document.getElementById("teacherinput");

        if (student.style.display == "none") {
            student.style.display = "block";
            teacher.style.display = "none";
            studentinput.value = ""
        } else {
            student.style.display = "none";
            teacher.style.display = "block";
            teacherinput.value = ""
        }
        console.log(x);
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
